*{
  font-family: 'Open Sans', sans-serif;
  
}

/*NavBar*/
.NavDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(255, 252, 252);
  box-sizing: border-box;
  padding-right: 50px;
  padding-left: 50px;
  background-color: #06114F;
  height:10vh;
}
.elementsNav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width:40%
}

.link{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.link:after {
  content:"";
  position: absolute;
  background-color: #5ec5d4;
  height: 1px;
  width: 0;
  left:0;
  bottom:0px;
  transition: 0.5s;
}

.link:hover:after{
  width:100%;
}

.link:hover{

  transform: scale(1.1);
  font-weight: bold;
  color:#5ec5d4;
}

.LogOutBtn{
  text-decoration: none;
  background-color: rgb(244, 245, 175);
  border: 0px;
  color: rgb(5, 5, 5);
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}
.LogOutBtn:hover{
  transform: scale(1.1);
}

.logoDiv{
  text-align: left;
}
.logo{
  width: 170px;
}
/*Front Page*/

.frontPage{
  background-image: url("./components/backgroundpicture.jpg");
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}
.frontElements{
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 70%;
  
}
/*SearchBar Front Page*/

.bar.barFront{
  width:70%;
  height: 32px;
  border-radius:0px ;
  display: flex;
  justify-content: space-between;
  background-color:  #06114F;
  margin-left:0px;
  
}
.searchbar.searchFront {
  
 
  height: 30px;
}
.textFront{
  color: white;
  /*text-shadow:4px 4px #030302;*/
}
.h1{
  font-size: 50px;
}
.h2{
  font-size: 30px;
}

  /*Input*/
  
.searchBtn{
  margin-top: 4px;
  width: 15%;
  height: 80%;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 20px;
  background:linear-gradient(#98ced6,#5ec4d4fa,#5ec4d475);
  color: black;
  margin-right:1px;
}



/*SearchBar*/

.bar{
  margin:0 auto;
  width:575px;
  border-radius:30px;
  border:2px solid #dcdcdc;
}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchbar{
  height:45px;
  border:none;
  width:500px;
  font-size:16px;
  outline: none;
  border-radius:30px;
}
.voice{
  height:20px;
  position:relative;
  top:5px;
  left:10px;
}

.findjobs{
  text-align: center;
  font-size: 40px;
}


/*loading */
.spinnerDiv{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Job Search Page*/

.jobSearchContainer{
  border: #06114F 5px solid ;
  background-color: rgb(66, 97, 170, 0.43);
  border-radius: 20px;
  margin-top: 50px;
  padding-bottom: 20px;
  text-justify: auto;
  text-align:justify;
  
}
.titleJob{
  color: #06114F;
  font-weight: bold;
  text-decoration: none;
}

/*Jobs Post Page*/
.jobPostContainer{
  background-image:linear-gradient(to top, #F5F7FA,#667ea2,rgb(161,84,240)) ;
  height: 90vh;
}
.postMainDiv{
 display: flex;
 justify-content: center;
 height: 90vh;
}
.jobPostPage{
  border: 2px solid grey;
  width: 30%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:justify;
  border-radius: 20px;
  background-color: rgba(66, 97, 170, 0.43);
  border: #06114F 5px solid;
  box-shadow: 5px 10px 8px #252527;
  margin-top: 3%;
}
.jobPostForm{
  width: 100%;
  margin-bottom: 20px;
}
.jobPostForm.description{
  height: 80px;
}
.labelPostForm{
  font-weight: bold;
}
.divPostFormBtn{
  background-color: white;
  border-radius: 10px;
}
.formDivPost{
  width: 40%;
}
.jobPostBtn{
  background-image:linear-gradient(#06114f57,#06114fc7,#06114F) ;
  color: white;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  
}
.jobPostBtn:hover {
  background-color: #06114F;
}
.h1Form{
  text-align: center;
  margin:0px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 40px;
}

/*About*/
.aboutMainDiv{
background-color: #ffffffac;
width: 100vw;
height: 90vh;
display: flex;
justify-content: space-evenly;
color: black;
align-items: center;
background-image:linear-gradient(to top, #F5F7FA,#667ea2,rgb(161,84,240)) ;  
}
.infoDiv{
width: 30%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: rgba(66, 97, 170, 0.43);
max-height:80vh;
min-height: 50vh;
border-radius: 10px;
padding-top: 50px;
padding-bottom: 20px;
border: #06114F 5px solid ;
box-shadow:  5px 10px 8px #252527;
}
.aboutTextDiv{
  border: 2px solid grey;
  border-radius: 20px;
  height: 40%;
  width: 100%;
  text-align: center;
  
}
.lorenaPic{
  width: 200px;
  border-radius: 50%;
}

.descriptioncontainer {
  background: white;
  color:black;
  max-width:70%;
  word-wrap: break-word;
  box-shadow:  5px 10px 8px #282829;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: #06114F 1px solid ;
  text-align: justify;
  text-justify: inter-word;
}
.githubIcon{
  width: 30px;
  margin-right: 20px;
}
/*Profile Page*/
.profileContainer{
  background-image: linear-gradient(to top, #F5F7FA,#667ea2,rgb(161,84,240));
  padding-bottom: 30px;
}

.profileMainDiv{
  margin:0 auto;
  min-height: 50vh;
  width: 40%;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  background-color: rgba(66, 97, 170, 0.43);
  border: #06114F 5px solid ;
  box-shadow:  5px 10px 8px #252527;
  padding-bottom: 20px;
  border-radius: 10px;
}
.profileFromDiv{
width: 50%;

}
.displayedText{
  border: #06114F 2px solid ; 
  margin-top: 10px;
  border-radius:5px; 
  box-shadow:  5px 10px 8px #282829;
}
.profileDescription{
  min-height: 150px;
  width: 100%;
  margin-top: 20%;
  word-wrap: break-word;
}
.ProfileUpdateBtn{
  background-image:linear-gradient(#06114f57,#06114fc7,#06114F) ;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  height: 40px;
}
.ProfileUpdateBtn:hover{
  background-color: #06114fc7;
}

.h2ProfilePage{
  text-align: center;
  margin:0px;
  padding-top: 40px;
  padding-bottom: 40px;
 font-size: 40px;

}
.textProfile{
  background: white;
  color:black;
  max-width:100%;
  word-wrap: break-word;
  margin:0px;
  padding:10px;
  
}
.profilePic{
  margin-top:5px;
  width: 200px;
  border-radius: 50%;
}
.editBtnProfile{
  
}