*{
  font-family: 'Open Sans', sans-serif;
}
/*NavBar*/
.NavDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(255, 252, 252);
  box-sizing: border-box;
  padding-right: 50px;
  padding-left: 50px;
  background-color: #06114F;
  height:10vh;
}
.elementsNav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width:40%
}
.link{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.link:after {
  content:"";
  position: absolute;
  background-color: red;
  height: 3px;
  width: 0;
  left:0;
  bottom:-10px;
  transition: 0.3s;
}

a:hover:after{
  width:100%;
}

.link:hover{

  transform: scale(1.1);
  font-weight: bold;
  color:#5ec5d4;
}

.LogOutBtn{
  text-decoration: none;
  background-color: rgb(6, 73, 73);
  border: 0px;
  color: white;
  font-size: 20px;
}
.logoDiv{
  text-align: left;
}
.logo{
  width: 170px;
}
/*Front Page*/

.frontPage{
  background-image: url("./components/backgroundpicture.jpg");
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: flex-end;
}
.frontElements{
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 70%;
}
/*SearchBar Front Page*/

.bar.barFront{
  width:70%;
  height: 32px;
  border-radius:0px ;
  display: flex;
  justify-content: space-between;
  background-color:  #06114F;
  margin-left:0px;
  
}
.searchbar.searchFront {
  
 
  height: 30px;
}
.textFront{
  color: white;
  /*text-shadow:4px 4px #030302;*/
}
.h1{
  font-size: 50px;
}
.h2{
  font-size: 30px;
}

  /*Input*/
  
.searchBtn{
  margin-top: 4px;
  width: 15%;
  height: 80%;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 20px;
  background:linear-gradient(#98ced6,#5ec4d4fa,#5ec4d475);
  color: black;
  margin-right:1px;
}



/*SearchBar*/

.bar{
  margin:0 auto;
  width:575px;
  border-radius:30px;
  border:1px solid #dcdcdc;
}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchbar{
  height:45px;
  border:none;
  width:500px;
  font-size:16px;
  outline: none;
  
}
.voice{
  height:20px;
  position:relative;
  top:5px;
  left:10px;
}

.findjobs{
  text-align: center;
  font-size: 40px;
}


/*loading */
.spinnerDiv{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Job Search Page*/
.jobSearchMainDiv{
 
}
.jobSearchContainer{
  border: 2px solid rgb(173, 168, 168);
  border-radius: 20px;
  margin-top: 50px;
  padding-bottom: 20px;
  text-justify: auto;
  text-align:justify;
}
.titleJob{
  color: #06114F;
  font-weight: bold;
  text-decoration: none;
}

/*Jobs Post Page*/
.postMainDiv{
 display: flex;
 justify-content: center;
 height: 100vh;
}
.jobPostPage{
  border: 2px solid grey;
  width: 30%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:justify;
  border-radius: 20px;
}
.jobPostForm{
  width: 100%;
  margin-bottom: 20px;
}
.labelPostForm{
  font-weight: bold;
}
.divPostFormBtn{
  background-color: #06114F;
}
.jobPostBtn{
  width: 100%;
  height: 50px;
  border:0px;
  background-color: #06114F;
  color: white;
  font-size: 20px;
}
.h1Form{
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
  font-size: 40px;
}

/*About*/
.aboutMainDiv{
background-color: #ffffffac;
width: 100vw;
height: 90vh;
display: flex;
justify-content: space-evenly;
color: black;
align-items: center;
}
.infoDiv{
width: 30%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: rgba(66, 97, 170, 0.43);
max-height:80vh;
min-height: 50vh;
border-radius: 10px;
padding-top: 50px;
padding-bottom: 20px;
border: #06114F 5px solid ;
box-shadow:  5px 10px 8px #252527;
}
.aboutTextDiv{
  border: 2px solid grey;
  border-radius: 20px;
  height: 40%;
  width: 100%;
  text-align: center;
  
}
.lorenaPic{
  width: 200px;
  border-radius: 50%;
}

.descriptioncontainer {
  background: white;
  color:black;
  max-width:70%;
  word-wrap: break-word;
  box-shadow:  5px 10px 8px #282829;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  border: #06114F 1px solid ;
}