body{
  font-family: 'Open Sans', sans-serif;
}
/*NavBar*/
.NavDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid rgb(255, 252, 252);
  box-sizing: border-box;
  padding-right: 50px;
  padding-left: 50px;
  background-color: #06114F;
  height:10vh;
}
.elementsNav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width:40%
}
.link{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.link:hover{
  text-decoration: underline;
  transform: scale(1.1);
  font-weight: bold;
  color:#5ec5d4;
}

.LogOutBtn{
  text-decoration: none;
  background-color: rgb(6, 73, 73);
  border: 0px;
  color: white;
  font-size: 20px;
}
.logoDiv{
  text-align: left;
}
.logo{
  width: 140px;
}
/*Front Page*/
.picFront{

}
.frontPage{
  background-image: url("./components/backgroundpicture.jpg");
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: flex-end;
}
.frontElements{
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 70%;
}
/*SearchBar Front Page*/

.bar.barFront{
  width:90%;
  height: 40px;
  border-radius:0px ;
  display: flex;
  justify-content: space-between;
  background-color:  #06114F;
  margin-left:0px;
}
.searchbar.searchFront {
  
  margin-top:4px;
  height: 30px;
}
.textFront{
  color: white;
  /*text-shadow:4px 4px #030302;*/
}
.h1{
  font-size: 50px;
}
.h2{
  font-size: 30px;
}

  /*Input*/
  
.searchBtn{
  margin-top: 4px;
  width: 20%;
  height: 80%;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 20px;
  background:linear-gradient(#98ced6,#5ec4d4fa,#5ec4d475);
  color: black;
  margin-right:1px;
}



/*SearchBar*/

.bar{
  margin:0 auto;
  width:575px;
  border-radius:30px;
  border:1px solid #dcdcdc;
}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchbar{
  height:45px;
  border:none;
  width:500px;
  font-size:16px;
  outline: none;
  
}
.voice{
  height:20px;
  position:relative;
  top:5px;
  left:10px;
}

.findjobs{
  text-align: center;
}


/*loading */
.spinnerDiv{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
