/*NavBar*/
.NavDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 2px solid rgb(187, 184, 184);
  padding-right: 50px;
  padding-left: 50px;
  background-color: white;
}
.elementsNav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width:40%
}
.link{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.LogOutBtn{
  text-decoration: none;
  background-color: white;
  border: 0px;
  color: black;
  font-size: 20px;
}
.logoDiv{
  text-align: left;
}
.logo{
  width: 100px;
}







.bar{
  margin:0 auto;
  width:575px;
  border-radius:30px;
  border:1px solid #dcdcdc;
}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchbar{
  height:45px;
  border:none;
  width:500px;
  font-size:16px;
  outline: none;
  
}
.voice{
  height:20px;
  position:relative;
  top:5px;
  left:10px;
}

.findjobs{
  text-align: center;
}
